.board {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    min-width: 30rem;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
    .board {
        width: 18rem;
        height: 18rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        min-width: 15rem;
    }
}

.buttomWrap {
    width: 30rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 480px) {
    .buttomWrap {
        width: 18rem;
        display: flex;
        justify-content: center;
    }
}