.BoardSelect {
    width: 30rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 480px) {
    .BoardSelect {
        width: 18rem;
        display: flex;
        justify-content: center;
    }
}

